<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ggblog.modules.sys.dao.SysMenuDao">

	<!-- mysql -->
	<sql id="menuColumn">
		id AS "id",
		parent_id AS "parentId",
		name AS "name",
		href AS "href",
		target AS "target",
		type AS "type",
		icon AS "icon",
		sort AS "sort",
		is_show AS "isShow",
		permission AS "permission",
		create_by AS "createBy",
		create_date AS "createDate",
		update_by AS "updateBy",
		update_date AS "updateDate",
		remarks AS "remarks",
		del_flag AS "delFlag"
	</sql>

	<select id="get" resultType="SysMenu">
		SELECT
		<include refid="menuColumn" />
		FROM sys_menu
		WHERE id = #{id}
	</select>

	<select id="findList" resultType="SysMenu">
		SELECT
		<include refid="menuColumn" />
		FROM sys_menu
		<where>
		AND del_flag = '0'
			<if test="parentId != null and parentId != ''">
				AND parent_id = #{parentId}
			</if>
		</where>
		ORDER BY sort desc
	</select>
	
	
	<select id="findListByParent" resultType="SysMenu">
		SELECT
		<include refid="menuColumn" />
		FROM sys_menu
		<where>
		AND del_flag = '0'
			<if test="id != null and id!= ''">
				AND parent_id = #{id}
			</if>
		</where>
		ORDER BY sort desc
	</select>
	
	
	<select id="findListByRoleId" resultType="SysMenu">
		SELECT
		<include refid="menuColumn" />
		FROM sys_menu
		<where>
		 del_flag = '0' and id in (select menu_id from sys_role_menu where role_id=#{roleId}) 
		</where>
		ORDER BY sort desc
	</select>
	
	

	<insert id="insert">
		INSERT INTO sys_menu
		(
		id,
		parent_id,
		name,
		href,
		target,
		type,
		icon,
		sort,
		is_show,
		permission,
		create_by,
		create_date,
		update_by,
		update_date,
		remarks,
		del_flag
		)
		VALUES
		(
		#{id},
		#{parentId},
		#{name},
		#{href},
		#{target},
		#{type},
		#{icon},
		#{sort},
		#{isShow},
		#{permission},
		#{createBy},
		#{createDate},
		#{updateBy},
		#{updateDate},
		#{remarks},
		#{delFlag}
		)
	</insert>

	<update id="update">
		UPDATE
		sys_menu
		SET
		<if test="parentId != null">parent_id = #{parentId},</if>
		<if test="name != null">name = #{name},</if>
		<if test="href != null">href = #{href},</if>
		<if test="target != null">target = #{target},</if>
		<if test="type != null">type = #{type},</if>
		<if test="icon != null">icon = #{icon},</if>
		<if test="sort != null">sort = #{sort},</if>
		<if test="isShow != null">is_show = #{isShow},</if>
		<if test="permission != null">permission = #{permission},</if>
		<if test="updateBy != null">update_by = #{updateBy},</if>
		<if test="remarks != null">remarks = #{remarks},</if>
		<if test="delFlag != null">del_flag = #{delFlag},</if>
		<if test="updateDate != null">update_date = #{updateDate}</if>
		WHERE id = #{id}
	</update>

	<update id="delete">
		UPDATE
		sys_menu
		SET
		del_flag = '1'
		WHERE
		id =#{id}
	</update>







	<!-- oracle -->
	<!-- <sql id="menuColumn"> "id" AS "id", "birthday" AS "birthday", "create_by" 
		AS "createBy", "create_date" AS "createDate", "dept_id" AS "deptId", "email" 
		AS "email", "hobby" AS "hobby", "mobile" AS "mobile", "name" AS "name", "password" 
		AS "password", "sex" AS "sex", "stats" AS "stats", "update_by" AS "updateBy", 
		"update_date" AS "updateDate", "username" AS "username", "remarks" AS "remarks" 
		</sql> <select id="get" resultType="com.ggblog.modules.sys.domain.SysUser"> 
		SELECT <include refid="menuColumn"/> FROM "sys_menu" WHERE "id" = #{id} </select> 
		<select id="findList" resultType="com.ggblog.modules.sys.domain.SysUser"> SELECT 
		<include refid="menuColumn"/> FROM "sys_menu" <where> <if test="id != null 
		and id != ''"> AND "id" = #{id} </if> <if test="username != null and username 
		!= ''"> AND "username "= #{username} </if> </where> ORDER BY "update_date" 
		</select> <insert id="insert"> INSERT INTO sys_menu ( "id", "birthday", "create_by", 
		"create_date", "dept_id", "email", "hobby", "mobile", "name", "password", 
		"sex", "stats", "update_by", "update_date", "username", "remarks" ) VALUES 
		( #{id}, #{birthday}, #{createBy}, #{createDate}, #{deptId}, #{email}, #{hobby}, 
		#{mobile}, #{name}, #{password}, #{sex}, #{stats}, #{updateBy}, #{updateDate}, 
		#{username}, #{remarks} ) </insert> <update id="update"> UPDATE "sys_menu" 
		SET <if test="username != null">"birthday" = #{birthday},</if> <if test="deptId 
		!= null">"dept_id" = #{deptId},</if> <if test="email != null">"email" = #{email},</if> 
		<if test="hobby != null">"hobby" = #{hobby},</if> <if test="mobile != null">"mobile" 
		= #{mobile},</if> <if test="name != null">"name" = #{name},</if> <if test="sex 
		!= null">"sex" = #{sex},</if> <if test="stats != null">"stats" = #{stats},</if> 
		<if test="username != null">"username" = #{username},</if> <if test="updateBy 
		!= null">"update_by" = #{updateBy},</if> <if test="remarks != null">"remarks" 
		= #{remarks},</if> <if test="updateDate != null">"update_date" = #{updateDate}</if> 
		WHERE "id" = #{id} </update> <delete id="delete"> DELETE FROM "sys_menu" 
		WHERE "id"=#{id} </delete> -->


</mapper>
