<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ggblog.modules.sys.dao.SysUserRoleDao">

	<!-- mysql -->
	<sql id="userRoleColumn">
		id AS "id",
		user_id AS "userId",
		role_id AS "roleId",
		create_by AS "createBy",
		create_date AS "createDate",
		update_by AS
		"updateBy",
		update_date AS "updateDate",
		remarks AS "remarks"
	</sql>

	<select id="get" resultType="SysUserRole">
		SELECT
		<include refid="userRoleColumn" />
		FROM sys_user_role
		WHERE id = #{id}
	</select>



	<select id="getByUserId" resultType="SysUserRole">
		SELECT
		<include refid="userRoleColumn" />
		FROM sys_user_role
		WHERE user_id = #{userId}
	</select>


	<select id="findList" resultType="SysUserRole">
		SELECT
		<include refid="userRoleColumn" />
		FROM sys_user_role
		<where>
			<if test="userId != null and userId != ''">
				AND user_id = #{userId}
			</if>
		</where>
	</select>


	<insert id="insert">
		INSERT INTO sys_user_role
		(
		id,
		user_id,
		role_id,
		create_by,
		create_date,
		update_by,
		update_date,
		remarks
		)
		VALUES
		(
		#{id},
		#{userId},
		#{roleId},
		#{createBy},
		#{createDate},
		#{updateBy},
		#{updateDate},
		#{remarks}
		)
	</insert>

	<update id="update">
		UPDATE
		sys_user_role
		SET
		<if test="userId != null">user_id = #{userId},</if>
		<if test="roleId != null">role_id = #{roleId},</if>
		<if test="updateBy != null">update_by = #{updateBy},</if>
		<if test="remarks != null">remarks = #{remarks},</if>
		<if test="updateDate != null">update_date = #{updateDate}</if>
		WHERE id = #{id}
	</update>

<!-- 	<update id="delete">
		UPDATE
		sys_user_role
		SET
		del_flag = '1'
		WHERE
		id =#{id}
	</update> -->
	<delete id="delete"> DELETE FROM sys_user_role WHERE id=#{id} </delete>






	<!-- oracle -->
	<!-- <sql id="userRoleColumn"> "id" AS "id", "birthday" AS "birthday", "create_by" 
		AS "createBy", "create_date" AS "createDate", "dept_id" AS "deptId", "email" 
		AS "email", "hobby" AS "hobby", "mobile" AS "mobile", "name" AS "name", "password" 
		AS "password", "sex" AS "sex", "stats" AS "stats", "update_by" AS "updateBy", 
		"update_date" AS "updateDate", "username" AS "username", "remarks" AS "remarks" 
		</sql> <select id="get" resultType="com.ggblog.modules.sys.domain.SysUserRole"> 
		SELECT <include refid="userRoleColumn"/> FROM "sys_user_role" WHERE "id" 
		= #{id} </select> <select id="findList" resultType="com.ggblog.modules.sys.domain.SysUserRole"> 
		SELECT <include refid="userRoleColumn"/> FROM "sys_user_role" <where> <if 
		test="id != null and id != ''"> AND "id" = #{id} </if> <if test="username 
		!= null and username != ''"> AND "username "= #{username} </if> </where> 
		ORDER BY "update_date" </select> <insert id="insert"> INSERT INTO sys_user_role 
		( "id", "birthday", "create_by", "create_date", "dept_id", "email", "hobby", 
		"mobile", "name", "password", "sex", "stats", "update_by", "update_date", 
		"username", "remarks" ) VALUES ( #{id}, #{birthday}, #{createBy}, #{createDate}, 
		#{deptId}, #{email}, #{hobby}, #{mobile}, #{name}, #{password}, #{sex}, #{stats}, 
		#{updateBy}, #{updateDate}, #{username}, #{remarks} ) </insert> <update id="update"> 
		UPDATE "sys_user_role" SET <if test="username != null">"birthday" = #{birthday},</if> 
		<if test="deptId != null">"dept_id" = #{deptId},</if> <if test="email != 
		null">"email" = #{email},</if> <if test="hobby != null">"hobby" = #{hobby},</if> 
		<if test="mobile != null">"mobile" = #{mobile},</if> <if test="name != null">"name" 
		= #{name},</if> <if test="sex != null">"sex" = #{sex},</if> <if test="stats 
		!= null">"stats" = #{stats},</if> <if test="username != null">"username" 
		= #{username},</if> <if test="updateBy != null">"update_by" = #{updateBy},</if> 
		<if test="remarks != null">"remarks" = #{remarks},</if> <if test="updateDate 
		!= null">"update_date" = #{updateDate}</if> WHERE "id" = #{id} </update> 
		<delete id="delete"> DELETE FROM "sys_user_role" WHERE "id"=#{id} </delete> -->


</mapper>
