<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ggblog.modules.blog.dao.BlogArticleDao">

	<!-- mysql -->
	<sql id="articleColumn">
		id AS "id",
		title AS "title",
		content AS "content",
		tags AS "tags",
		hits AS "hits",
		author AS "author",
		allow_comment AS "allowComment",
		link AS "link",
		image AS "image",
		sort AS "sort",
		create_by AS "createBy",
		create_date AS "createDate",
		update_by AS "updateBy",
		update_date AS "updateDate",
		remarks AS "remarks",
		del_flag AS "delFlag",
		is_carousel AS "isCarousel"
	</sql>

	<select id="get" resultType="BlogArticle">
		SELECT
		<include refid="articleColumn" />
		FROM blog_article
		WHERE id = #{id}
	</select>

	<select id="findList" resultType="BlogArticle">
		SELECT
		<include refid="articleColumn" />
		FROM blog_article
		<where>
			AND del_flag != '1'
			<if test="title != null and title != ''">
				AND remarks LIKE concat(concat('%',#{remarks}),'%')
			</if>
			<if test="tags != null and tags != ''">
				AND tags = #{tags}
			</if>
			<if test="author != null and author != ''">
				AND author = #{author}
			</if>
			<if test="allowComment != null and allowComment != ''">
				AND allow_comment = #{allowComment}
			</if>
			<if test="isCarousel != null and isCarousel != ''">
				AND is_carousel = #{isCarousel}
			</if>
		</where>
		ORDER BY sort,updateDate desc
	</select>
	
	<select id="findCarouselArticle" resultType="BlogArticle">
		SELECT
		<include refid="articleColumn" />
		FROM blog_article
		<where>
			AND del_flag != '1' 
			AND is_carousel = '0'
		</where>
		ORDER BY sort,updateDate desc  limit 0,3
	</select>
	
	
	<select id="count" resultType="int">
        select count(0) from blog_article
        <where>
		AND del_flag != '1'
			<if test="title != null and title != ''">
				AND remarks LIKE concat(concat('%',#{remarks}),'%')
			</if>
			<if test="tags != null and tags != ''">
				AND tags = #{tags}
			</if>
			<if test="author != null and author != ''">
				AND author = #{author}
			</if>
			<if test="allowComment != null and allowComment != ''">
				AND allow_comment = #{allowComment}
			</if>
			<if test="isCarousel != null and isCarousel != ''">
				AND is_carousel = #{isCarousel}
			</if>
		</where>
     </select>

	<select id="findTags" resultType="String">
		select tags from blog_article  where del_flag = '0' GROUP BY tags
	</select>


	<insert id="insert">
		INSERT INTO blog_article 
		(
		id,
		title,
		content,
		tags,
		hits,
		author,
		allow_comment,
		link,
		image,
		sort,
		create_by,
		create_date,
		update_by,
		update_date,
		remarks,
		del_flag,
		is_carousel
		)
		VALUES
		(
		#{id},
		#{title},
		#{content},
		#{tags},
		#{hits},
		#{author},
		#{allow_comment},
		#{link},
		#{image},
		#{sort},
		#{createBy},
		#{createDate},
		#{updateBy},
		#{updateDate},
		#{remarks},
		#{delFlag},
		#{isCarousel}
		)
	</insert>

	<update id="update">
		UPDATE
		blog_article
		SET
		<if test="title != null">title = #{title},</if>
		<if test="content != null">content = #{content},</if>
		<if test="tags != null">tags = #{tags},</if>
		<if test="author != null">author = #{author},</if>
		<if test="allowComment != null">allow_comment = #{allowComment},</if>
		<if test="link != null">link = #{link},</if>
		<if test="image != null">image = #{image},</if>
		<if test="sort != null">sort = #{sort},</if>
		<if test="updateBy != null">update_by = #{updateBy},</if>
		<if test="remarks != null">remarks = #{remarks},</if>
		<if test="delFlag != null">del_flag = #{delFlag},</if>
		<if test="isCarousel != null">is_carousel = #{isCarousel},</if>
		<if test="updateDate != null">update_date = #{updateDate}</if>
		WHERE id = #{id}
	</update>

	<update id="delete">
		UPDATE
		blog_article
		SET
		del_flag = '1'
		WHERE
		id =#{id}
	</update>







	<!-- oracle -->
	<!-- <sql id="articleColumn"> "id" AS "id", "birthday" AS "birthday", "create_by" 
		AS "createBy", "create_date" AS "createDate", "dept_id" AS "deptId", "email" 
		AS "email", "hobby" AS "hobby", "mobile" AS "mobile", "name" AS "name", "password" 
		AS "password", "sex" AS "sex", "stats" AS "stats", "update_by" AS "updateBy", 
		"update_date" AS "updateDate", "username" AS "username", "remarks" AS "remarks" 
		</sql> <select id="get" resultType="com.ggblog.modules.sys.domain.SysUser"> 
		SELECT <include refid="articleColumn"/> FROM "blog_article" WHERE "id" = #{id} </select> 
		<select id="findList" resultType="com.ggblog.modules.sys.domain.SysUser"> SELECT 
		<include refid="articleColumn"/> FROM "blog_article" <where> <if test="id != null 
		and id != ''"> AND "id" = #{id} </if> <if test="username != null and username 
		!= ''"> AND "username "= #{username} </if> </where> ORDER BY "update_date" 
		</select> <insert id="insert"> INSERT INTO blog_article ( "id", "birthday", "create_by", 
		"create_date", "dept_id", "email", "hobby", "mobile", "name", "password", 
		"sex", "stats", "update_by", "update_date", "username", "remarks" ) VALUES 
		( #{id}, #{birthday}, #{createBy}, #{createDate}, #{deptId}, #{email}, #{hobby}, 
		#{mobile}, #{name}, #{password}, #{sex}, #{stats}, #{updateBy}, #{updateDate}, 
		#{username}, #{remarks} ) </insert> <update id="update"> UPDATE "blog_article" 
		SET <if test="username != null">"birthday" = #{birthday},</if> <if test="deptId 
		!= null">"dept_id" = #{deptId},</if> <if test="email != null">"email" = #{email},</if> 
		<if test="hobby != null">"hobby" = #{hobby},</if> <if test="mobile != null">"mobile" 
		= #{mobile},</if> <if test="name != null">"name" = #{name},</if> <if test="sex 
		!= null">"sex" = #{sex},</if> <if test="stats != null">"stats" = #{stats},</if> 
		<if test="username != null">"username" = #{username},</if> <if test="updateBy 
		!= null">"update_by" = #{updateBy},</if> <if test="remarks != null">"remarks" 
		= #{remarks},</if> <if test="updateDate != null">"update_date" = #{updateDate}</if> 
		WHERE "id" = #{id} </update> <delete id="delete"> DELETE FROM "blog_article" 
		WHERE "id"=#{id} </delete> -->


</mapper>
