<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body>
	<article class="page-container">
		<form class="layui-form" action="" id="submitForm" lay-filter="submitForm">
			<input type="hidden" id="id" name="id" th:value="${user.id}">
		
			 <div class="layui-form-item">
			     <div class="layui-form-item">
				    <label class="layui-form-label">原密码</label>
				    <div class="layui-input-block">
				      <input type="password" name="oldPassword" lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input">
				    </div>
			  	</div>
			 </div>
			 <div class="layui-form-item">
			     <div class="layui-form-item">
				    <label class="layui-form-label">新密码</label>
				    <div class="layui-input-block">
				      <input type="password" name="password" id="password" lay-verify="required|password" placeholder="请输入新密码" autocomplete="off" class="layui-input">
				    </div>
			  	</div>
			 </div>
			 <div class="layui-form-item">
			     <div class="layui-form-item">
				    <label class="layui-form-label">确认密码</label>
				    <div class="layui-input-block">
				      <input type="password" name="password2" id="password2" lay-verify="required|password2" placeholder="请确认密码" autocomplete="off" class="layui-input">
				    </div>
			  	</div>
			 </div>
			 
			 <div class="layui-form-item">
			    <div class="layui-input-block">
			      <button class="layui-btn" lay-submit="submitBtn" type="button" lay-filter="submitBtn" id="submitBtn">立即提交</button>
			      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
			    </div>
			  </div>
			 
		</form>
	</article>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="js/apps/sys/user/updatePassword.js"
		th:src="@{/js/apps/sys/user/updatePassword.js}"></script>
	
</body>
</html>