<head th:fragment="header">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="shortcut icon" href="/favicon.ico" th:href="@{/favicon.ico}"/>
	<link rel="stylesheet" type="text/css" href="lib/layui/css/layui.css"
	th:href="@{/lib/layui/css/layui.css}" />
	<link rel="stylesheet" type="text/css" href="main/ogod.css"
	th:href="@{/main/ogod.css}" />
	<link rel="stylesheet" href="lib/zTree/v3/css/metroStyle/metroStyle.css"
	th:href="@{/lib/zTree/v3/css/metroStyle/metroStyle.css}" type="text/css">
</head>
<div th:fragment="footer">
	<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"
		th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
	<script type="text/javascript" src="lib/layer/2.4/layer.js"
		th:src="@{/lib/layer/2.4/layer.js}"></script>
	<script type="text/javascript" src="static/main/ogod.js"
		th:src="@{/main/ogod.js}"></script>
	<script type="text/javascript" src="lib/layui/layui.js"
		th:src="@{/lib/layui/layui.js}"></script>
	<script type="text/javascript" src="lib/zTree/v3/js/jquery.ztree.all-3.5.js"
		th:src="@{/lib/zTree/v3/js/jquery.ztree.all-3.5.js}"></script>
</div>
