<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="frontInclude :: header"></head>
<body>
  <div th:include="frontInclude :: frontHead"></div>

  <div class="about-content">
    <div class="w1000">
      <div class="item info">
        <div class="title">
          <h3>我的介绍</h3>
        </div>
        <div class="cont">
          <img src="../res/img/xc_img1.jpg" width="385" height="220" th:src="@{/}+${userInfo.head}">
          <div class="per-info">
            <p>
              <span class="name" th:text="${userInfo.name}">小明</span><br />
              <span class="age" th:text="${userInfo.age}+'岁'">24岁</span><br />
              <span class="Career" th:text="${userInfo.job}">设计师, 前端工程师</span><br />
              <span class="interest" th:text="'爱好'+${userInfo.hobby}">爱好旅游,打游戏</span>
            </p>
          </div>
        </div>
      </div>
      <div class="item tool">
        <div class="title">
          <h3>我的技能</h3>
        </div>
        <div class="layui-fluid">
          <div class="layui-row">
            <div class="layui-col-xs6 layui-col-sm3 layui-col-md3" th:each="skill,iterStat : ${list}">
              <div class="cont-box">
                <img src="../res/img/gr_img2.jpg" th:src="@{/}+${skill.image}" width="90" height="90">
                <p th:text="${skill.name}">80%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div th:include="frontInclude :: frontFooter"></div>
  <script type="text/javascript">
    layui.config({
      base: '../res/js/util/'
    }).use(['element','laypage','form','layer','menu'],function(){
      element = layui.element,laypage = layui.laypage,form = layui.form,layer = layui.layer,menu = layui.menu;
      menu.init();
    })
  </script>
</body>
</html>